.FeedbackPanel {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.PanelHeader {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 10px;
  font-size: 16px;
}

.Input {
  display: block;
  flex: 1 0 auto;
  margin-bottom: 10px;
  font-size: 16px;
}

.Textarea {
  display: block;
  width: 100%;
  min-height: 60px;
  resize: none;
  font-size: 16px;
}

.Input, .Textarea {
  padding: 10px;
  background-color: #eee;
  border-radius: 1em;
}