.Contact {
  padding: 30px;
  border: 1px solid var(--blue-100);
  border-radius: 10px;
  background-color: #fff;
  flex: 1 1 30%;
}

.SocialMedia {
  font-size: 26px;
  font-weight: 700;
  color: var(--blue-100);
  margin-bottom: 10px;
}

.Link {
  font-size: 26px;
  font-weight: 400;
  color: var(--blue-200);
}