.Feedback {
  max-width: 100%;
  width: fit-content;
  padding: 20px;
  background-color: #fff;
  border-radius: 1em;
  border: 1px solid #eee;
}

.Author {
  font-size: 18px;
  color: #111;
  margin-bottom: 7px;
}

.Content {
  font-size: 14px;
  color: #333;
}