.Section:nth-child(odd) {
  background: #FAFBFD;
}

.Section__Content {
  display: flex;
  align-items: center;
  padding: 40px 0px;
  flex-wrap: wrap;
  width: 100%;
}

.Image {
  max-width: 100%;
  margin: 0px auto;
}

.Section.WithoutImage div {
  margin: 0 auto;
  text-align: center;
}