.Footer {
  background-color: rgb(54, 55, 63);
  padding: 50px 0px 20px 0px;
}

.Title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.Footer__Columns {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.Footer__Column__Title {
  font-size: 20px;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 20px;
}

.Footer__Row {
  font-size: 16px;
  font-weight: 300;
  color: #ccc;
}

.Footer__Row:not(:last-child) {
  margin-bottom: 8px;
}

.Footer__Row__Link {
  color: #ccc;
}

.Footer__Row__Link:hover {
  color: #eee;
}

.Footer__Row__Anchor {
  text-decoration: none;
  color: #ccc; 
}

.Footer__Row__Anchor:hover {
  color: #eee;
}

.Copyright {
  text-align: center;
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
}