/* .Nav {} */

.Nav__list {
  display: flex;
}

.Nav__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.Nav__link {
  font-size: 18px;
  color: var(--blue-100);
  text-decoration: none;
  transition: color 0.3s ease 0s;
}

.Nav__link:hover {
  color: var(--blue-200);
}

@media (max-width: 767.98px) {
  .Nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: -200vh;
    left: 0;
    z-index: 5;
    transition: top 0.3s ease 0s;
  }

  .Opened {
    top: 0;
  }
  
  .Nav__list {
    padding: 130px 0px 0px 0px;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .Nav__item:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }

  .Nav__link {
    font-size: 26px;
  }
}